.points-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.points-table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    border: 1px solid var(--font-color);
    max-height: 70%;
}

.points-table-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: var(--points-row-height);
    min-height: var(--points-row-height);
}

.points-table-row > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid var(--font-color);
    border-top: 1px solid var(--font-color);
    user-select: none;
}

.ptr-title {
    background-color: var(--points-table-header-background-color);
    border-left: 1px solid var(--font-color);
    border-right: 1px solid var(--font-color);
}

.ptr-title > div {
    font-weight: bold;
    font-size: var(--points-table-font-size);
}

.points-table-top {
    height: var(--points-row-height);
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.points-ui-button-panel > div {
    margin: 0px 10px;
}

.points-ui-button-panel > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--font-color);
    cursor: pointer;
    font-size: var(--points-table-font-size);
    padding: 10px 20px 10px 20px;
}

.points-ui-input-combo {
    border: 1px solid var(--font-color);
}

.points-ui-input-combo > input {
    background-color: var(--points-table-header-background-color);
    border: none;
    padding: 10px 20px 10px 20px;
    border-right: 1px solid var(--font-color);
}
.points-ui-input-combo > input:focus {
    outline: none;
}

.points-ui-input-combo > div {
    padding: 10px 20px 10px 20px;
    user-select: none;
    cursor: pointer;
}

.points-ui-input-combo > div:hover {
    filter: brightness(1.2);
}

.points-ui-input-combo > div:active {
    filter: brightness(0.5);
}

.popup-screencover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--font-color);
    border-radius: 10px;
}

.ptr-player-img-parent > img {
    clip-path: circle(50%);
    width: 70%;
    height: 70%;
    cursor: pointer;
}

.parentofClickable > div {
    cursor: pointer;
}

.parentofClickable > div:hover {
    filter: brightness(1.2);
}

.parentofClickable > div:active {
    filter: brightness(0.5);
}

.parentOfBigControlElement > div {
    cursor: pointer;
    font-size: calc(var(--points-row-height) / 3);
}

.ptr-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--points-row-height);
    width: var(--points-row-height);
    font-size: var(--points-table-font-size);
}

.ptr-flag-img-parent > img {
    width: 70%;
    height: 70%;
    cursor: pointer;
}

.ptr-big-font {
    font-size: calc(2 * var(--points-row-height) / 3);
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}