:root {
    --points-row-height: 80px;
    --points-table-font-size: 20px;
    --points-table-input-font-size: 20px;
    --points-table-header-background-color: rgb(45,45,45);
}

img {
    user-select: none;
}

body {
    background-color: var(--background-color);
}

.app-wrapper {
    width: calc(100% - min(150px, 5%));
    height: calc(100vh - 50px); 
    margin: auto;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--font-color);
}

.nation-table-panel {
    width: 100%;
    height: 100%;
    padding-left: var(--big-font-size);
    padding-right: var(--big-font-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

.nation-table-panel-content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.nation-table-panel-top {
    width: 100%;
    height: 40px;
    padding: 0px 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nation-table-panel-top-title {
    user-select: none;
    min-width: 120px;
}

.nation-table-panel-top-input {
    width: 200px;
    height: var(--medium-font-size);
    border: none;
    opacity: 0.8;
    background-color: var(--main-color);
}

.nation-table-panel-top-refresh {
    user-select: none;
    font-weight: bold;
    cursor: pointer;
    height: var(--medium-font-size);
    width: var(--medium-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nation-table-panel-top-input:focus {
    outline: none;
}

.nation-table {
    width: 100%;
}

.nation-table > thead {
    user-select: none;
}

.nation-table > thead > tr {
    width: 0px;
    height: 0px;
}

.nation-table-item-img {
    border: 2px solid var(--main-color);
}
.nation-table-item-img:hover {
    filter: brightness(1.5);
    border: 2px solid var(--font-color);
}
.nation-table-item-img:active {
    filter: brightness(0.5);
    border: 2px solid var(--font-color);
}

.national-ideas-panel {
    height: 800px;
    width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid var(--font-color);
}

.national-ideas-panel-top {
    height: 300px;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--font-color);
    padding-left: 32px;
    padding-top: 32px;
}

.national-ideas-panel-top-left {
    height: 100%;
    width: 250px;
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.national-ideas-panel-top-left > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.national-idea-panel-top-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
}

.national-ideas-panel-top-title {
    width: 100%;
    height: calc(2*var(--medium-font-size));
    font-size: var(--medium-font-size);
    display: flex;
    align-items: center;
    user-select: none;
    padding-left: calc(0.3 * var(--medium-font-size));
}

.national-ideas-panel-top-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.national-ideas-panel table {
    border-spacing: 0px;
    border-collapse: collapse;
}

.national-ideas-panel td {
    border: 1px solid var(--font-color);
    padding: 0px;
}

.nation-ideas-panel-name {
    font-size: calc(1 * var(--big-font-size));
    height: var(--big-font-size);
    padding-top: calc(0.75 * var(--big-font-size));
    padding-bottom: calc(0.25 * var(--big-font-size));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nation-ideas-panel-tag {
    font-size: calc(0.5 * var(--big-font-size));
    height: var(--big-font-size);
}

.nation-ideas-panel-img:hover {
    filter: brightness(1.2);
}

.nation-ideas-panel-img:active {
    filter: brightness(0.6);
}

.nation-ideas-panel-footer {
    font-size: 10px;
    padding-left: 6px;
    text-align: left;
    user-select: none;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    max-width: 400px;
}